/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 95vw;
    font-family: "Poppins", sans-serif;
}

.container {
     
}

.logo {
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
}

.icons {
    width: 15px;
    margin: 0 10px 10px 10px;
}

#search {
    border-color: #888;
    border-radius: 50px;
    margin: 10px 10px;
    padding: 10px;
}

.heading {
    text-align: center;
    text-transform: capitalize;
    font-size: 30px;
    font-weight: 700;
    padding: 20px;
}

.banner {
    margin: 0 auto;
}
.banner-item , .blog-item{
    margin: 10px;
}

.autherInfo {
    display: flex;
    align-items: center;
}

.autherInfo img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    float: left;
}

.authername {
    display: flex;
    flex-direction: column;
    height: 50px;
    justify-content: center;
    margin: 10px;
}

footer {
    margin-top: 50px;
}

.subscribe-form {
    margin: 10px 0 10px 10px;
    background-color: #f8f9fa;
    padding: 3rem 10px;
}

.subscribe-form form fieldset {
    font-size: calc(1.275rem + 0.3vw);
    font-weight: 700;
    border: none;
}

.subscribe-form form input {
    padding: 10px;
    margin-bottom: 10px;
}

input[type=email] {
    border-radius: 10px;
}

input[type=submit] {
    border-radius: 50px;
    background-color: #f79918;
    color: #fff;
    border: none;
}

.footer-social-icons {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.copyright {
    margin: 10px;
    text-align: center;
    font-size: 14px;
    color: #888;
}

 
/* for tablet */
@media screen and (min-width: 750px) {

header {
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

header input {
    order: -1;
    flex-shrink: 1.4;
}

header .socialIcons {
    justify-self: end;
    flex-shrink: 1.5;
}

header .logo {
    justify-self: center;
}

.heading {
    margin-top: 50px
}

.icons {
    margin: 10px;
}

.form-input {
     display: flex;
 }   

 .form-input input[type=submit] {
     flex-shrink: 2;
     margin-left: 10px;
 }

}